@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: theme("colors.gold.100");
  color: theme("colors.brand.900");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
